<div class="page-header">
  <h1>Welcome to the Robot World</h1> 
</div>
<div>
  <h1>Robo Stats</h1>
  <h2>Average Robot Age</h2>
  <h2>Robots Hired Per Year</h2>
  <h2>Robots Per Loctation</h2>
</div>
