<div class="page-header">
  <h1>Welcome to the Robot World</h1>
</div>
<div>
  <h1>Robo Stats</h1>
  <h2>Average Robot Age: <%= @average_robot_age %></h2>
  <h2>Robots Hired Per Year: <%= @robots_hired_per_year %></h2>
  <h2>Robots Per Location</h2>
</div>
