<h1>Edit Robot</h1>

<form action="/robots/<%= @robot.id %>" method="post">
  <input type="hidden" name="_method" value="put" />

  <input type="text" name="robot[name]" value="<%= @robot.name %>" />
  <h3>Department</h3>
  <input type="text" name="robot[department]" maxlength="40">
  <h3>City</h3>
  <input type="text" name="robot[city]" maxlength="40">
  <h3>State</h3>
  <input type="text" name="robot[state]" maxlength="2">
  <h3>Birthday</h3>
  <input type="date" name="robot[birthday]">
  <h3>Hire Day</h3>
  <input type="date" name="robot[hire_day]">
  <input type="submit" value="submit">
</form>
